@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: rgb(2,0,36);
    background: linear-gradient(281deg, rgba(2,0,36,1) 1%, rgba(12,12,64,1) 45%, rgba(145,145,168,1) 90%);    background-repeat: none;
    background-size: cover;
    height: 100vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;

}

.playwrite {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}